@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:'Montserrat';
    src: url("../fonts/montserrat/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family:'Montserrat-bold';
    src: url("../fonts/montserrat/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
    font-family:'Montserrat-black';
    src: url("../fonts/montserrat/Montserrat-Black.ttf") format('truetype');
}
@font-face {
    font-family:'Montserrat-elight';
    src: url("../fonts/montserrat/Montserrat-ExtraLight.ttf") format('truetype');
}
@keyframes scaleUpDown {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
  }

.scaling-button {
    @apply inline-block  text-white rounded-md transition-transform animate-scaleUpDown;
  }

.animate-scaleUpDown {
    animation: scaleUpDown 1.5s infinite;
  }
